html,
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background-color: #272822;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a,
a:hover,
a:active,
a:visited {
  color: white;
  text-decoration: none;
}

div.h {
  display: inline;
  color: #3bf0a1;
}

pre {
  font-size: 14px;
  margin: 0px;
  font-family: Menlo, Monaco, "Courier New", monospace;
}

#matrix {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}
canvas {
  display: block;
  pointer-events: none;
}
