html,
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 14px;
  line-height: 20px;
  color: #3bf0a1;
  background-color: #272822;
}

label {
  font-size: 12px;
  margin-bottom: 5px;
}

input {
  color: #3bf0a1;
  font-family: Menlo, Monaco, "Courier New", monospace;
  background-color: transparent;
  border: 1px solid rgba(59, 240, 161, 1);
  padding: 6px;
  outline: none;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a,
a:hover,
a:active,
a:visited {
  color: white;
  text-decoration: none;
}

div.h {
  display: inline;
  color: #3bf0a1;
}

pre {
  margin: 0px;
}

#matrix {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}
canvas {
  display: block;
  pointer-events: none;
}

.glitch {
  position: relative;
  margin: 0 auto;
  color: #3bf0a1;
  font-size: 50px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  transform: scale3d(2, 2, 2);
}
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: #333;
  color: #3bf0a1;
  clip: rect(500, 2200px, 200, 500);
}
.glitch::before {
  left: 7px;
  text-shadow: 1px 0 green;
  animation: glitch-effect 3s infinite linear alternate-reverse;
}
.glitch::after {
  left: 3px;
  text-shadow: -1px 0 red;
  animation: glitch-effect 2s infinite linear alternate-reverse;
}
@keyframes glitch-effect {
  0% {
    clip: rect(77px, 9999px, 18px, 0);
  }
  5% {
    clip: rect(3px, 9999px, 64px, 0);
  }
  10% {
    clip: rect(77px, 9999px, 99px, 0);
  }
  15% {
    clip: rect(97px, 9999px, 81px, 0);
  }
  20% {
    clip: rect(10px, 9999px, 62px, 0);
  }
  25% {
    clip: rect(92px, 9999px, 97px, 0);
  }
  30% {
    clip: rect(86px, 9999px, 80px, 0);
  }
  35% {
    clip: rect(57px, 9999px, 70px, 0);
  }
  40% {
    clip: rect(12px, 9999px, 29px, 0);
  }
  45% {
    clip: rect(86px, 9999px, 3px, 0);
  }
  50% {
    clip: rect(17px, 9999px, 25px, 0);
  }
  55% {
    clip: rect(99px, 9999px, 44px, 0);
  }
  60% {
    clip: rect(18px, 9999px, 41px, 0);
  }
  65% {
    clip: rect(1px, 9999px, 54px, 0);
  }
  70% {
    clip: rect(48px, 9999px, 44px, 0);
  }
  75% {
    clip: rect(14px, 9999px, 46px, 0);
  }
  80% {
    clip: rect(59px, 9999px, 25px, 0);
  }
  85% {
    clip: rect(46px, 9999px, 71px, 0);
  }
  90% {
    clip: rect(47px, 9999px, 18px, 0);
  }
  95% {
    clip: rect(98px, 9999px, 37px, 0);
  }
  100% {
    clip: rect(55px, 9999px, 9px, 0);
  }
}
